<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Grade (1-12):</strong>
  <%= @student.grade %>
</p>

<p>
  <strong>GPA (out of 4.0):</strong>
  <%= @student.gpa %>
</p>

 <%= image_tag student.avatar.url(:thumb) %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
